@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: #000;
	--color-secondary: #fff;
}

@layer base {
	@variant dark {
		--color-primary: #fff;
		--color-secondary: #000;
	}
}

html {
	font-family: var(--font-sans);
	@apply h-full;
}

body {
	@apply h-full bg-secondary text-primary antialiased transition-colors duration-300;
}
