@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: var(--font-fustat);
	--font-mono: var(--font-azeret-mono);

	--color-brand: var(--color-rose-500);
	--color-primary: #000;
	--color-secondary: #fff;
}

@layer base {
	@variant dark {
		--color-brand: var(--color-rose-500);
		--color-primary: #fff;
		--color-secondary: #000;
	}
}

html {
	font-family: var(--font-sans);
	@apply h-full;
}

body {
	@apply h-full bg-secondary text-primary antialiased transition-colors duration-300;
}
