.actionContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	height: 50%;
	transform-origin: bottom;

	.marker {
		display: flex;
		height: 10px;
		width: 2px;
		border-radius: 2px;
		background: var(--color-gray-600);
		margin-top: -2px;
		transition: background-color .2s;
	}

	.content {
		position: absolute;
		transform-origin: center;
		color: var(--color-gray-600);
		transition: color .2s;
	}

	&.reached {
		.marker {
			background: var(--color-white);
		}

		.content {
			color: var(--color-white);
		}
	}
}
